* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: firebrick;
}

header {
    background-color: #2980b9;
    display: flex;
    height: 120px;

}

.mapContainer {
    margin: 10px auto;
    width: 90%;
    position: relative;
}

.mapMarker {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.mapMarker:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.mapMarker:hover .mapMarkerTitle {
    opacity: 1;
}

.mapMarkerPic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
}

.mapMarkerTitle {
    position: absolute;
    width: auto;
    padding: 1px 5px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-family: 'Secular One', sans-serif;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.2s;
}

#mapMarkerHallstatt {
    left: 714px;
    top: 426px;

}

.pageTitle {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    text-align: center;
}

.flagContainer {
    display: block;
    margin: auto;
    max-height: 80px;
    width: 10%;
}

.flag {
    margin-top: 0px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

main {
    min-height: 100%;
}

.mainPadding {
    padding-top: 230;
}

nav {
    width: 100%;
    background:linear-gradient(rgba(41, 128, 185, 1), rgba(0, 0, 0, 0.8));
    height: 130px;
   
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10;
    z-index: 999;
}

.stops {
    direction: rtl;
    height: 5%;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: -1;
}

.stops li {
    list-style: none;
    
}

.stops li div {
    transition: all 0.3s;
    background-color: none;
    border-radius: 20%;
    padding: 5px 10px;
}

.stops li div:hover {
    transform: scale(1.2, 1.2);
    transition: all 0.3s;
    background-color: white;
}

.stopspic {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all 0.2s;
    -webkit-transition: all .2s;  
}

.stopspic:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
.stopstitle {
    text-align: center;
    font-family: 'Secular One', sans-serif;
}

.siteTitle {
    font-size: 50px;
}

.siteDescription,
.siteTips,
.sitePrices {
    width: 85.6%;
    margin: 5 auto;
    direction: rtl;
    font-family: 'Secular One', sans-serif;
}

.siteDescription h1 {
    text-align: center;
}

.siteTips h1 {
    text-align: right;
}

.gallery {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.gallery img {
    width: 20%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: 1s;
    z-index: 10;
    border: 3px solid black;
    margin: 5 auto;
}

.panorama {
    width: 85.6%;
    border: 3px solid black;
    margin: 5 auto;
}

.panorama img {
    width: 100%;
    transition: 1s;
    z-index: 10;
}

.divider {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 100%;
    margin: 20 auto;
    background: linear-gradient(to right, rgba(41, 128, 185, 1), rgba(255, 255, 255, 0.6));
}

.video {
    height: 100%;
    width: auto;
    margin: 10 auto 0 autos;
    text-align: center;
}

.video video {
    border: 3px solid black;
}

#pic-display {
    position: fixed;
    width: 80%;
    height: auto;
    border: 10px solid black;
    display: none;
    left: 10%;
    top: 0;
    margin: auto;
    z-index: 999;
    background: radial-gradient(red , white);
}

.pic-display-show {
    display: block;
    opacity: 1;
    transition: all 0.3s;
}

#pic-display .mainImage {
    display: flex;
    height: auto;
    margin: 10px auto;
    padding: auto;
}    

.pic-portrait {
    width: 30%;
    height: auto;
}

.pic-landscape {
    width: 80%;
    height: auto;
}

#closeBtn {
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: white; 
    border: none; 
    color: black; 
    padding: 12px 16px; 
    font-size: 20px; 
    cursor: pointer;
    border-radius: 50%;
    z-index: inherit;
  }
  
#closeBtn:hover {
    background-color: black;
    color: white;
  }

.flipOnHover {
    transition: all 0.1s ease-in-out 0s;
}

.flipOnHover:hover {
    transform: scale(-1, -1);
    transition: all 0.3s ease-in-out 0s;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }